.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .gallery figure {
    margin: 10px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px; 
  }
  .gallery img {
    width: 150;
    height: 125;
    object-fit: contain;
  }
  .gallery figcaption {
    font-style: italic;
    margin-top: 5px;
  }